# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Mac system files
.DS_Store

# VS Code
.vscode/

# Logs
logs/
*.log

# Data folders (VERY IMPORTANT)
data/raw/
data/processed/
data/chunks/
data/embeddings/

# Temporary / debug
*.tmp
*.bak

# Jupyter
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

.Rhistory

data/vector_store/
.env